@font-face {
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'CeraPro';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/CeraPro-Italic.woff2') format('woff2'),
        url('../fonts/CeraPro-Italic.woff') format('woff');
}

@font-face {
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'CeraPro';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/CeraPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/CeraPro-BoldItalic.woff') format('woff');
}

* {
    box-sizing: content-box;
    font-family: CeraPro,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lock {
    overflow: hidden;
}

.wrapper {
    max-width: 1100px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #C4C4C4;
    position: relative;
    z-index: 5;
    background-color: #ffffff;
}

.lock::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

.header__line {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 50px;
    align-items: center;
    background-color: #C00D0D;
    border-radius:  0 0 20px 20px;
}

.header__logo-link {
    max-width: 74px;
    font-size: 8px;
    font-weight: 700;
    color: #ffffff;
    line-height: 10px;
    margin-right: auto;
}

.header__logo-line__weight {
    font-size: 12px;
    line-height: 15px;
}

.header__img-emblem {
    display: block;
}

.header__wrapper {
    padding-left: 43px;
    padding-right: 27px;
    box-sizing: border-box;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 13px;
    padding-bottom: 12px;
    justify-content: space-between;
    font-size: 12px;
}

.header__inner > .header__inner-list {
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    left: 0;
    right: 0;
    opacity: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    height: 0px;
    visibility: hidden;
    padding-left: 130px;
    padding-right: 130px;
    transition: all 0.4s ease;
    box-sizing: border-box;
}

.header__inner > .header__inner-list .header__inner-wrapp {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}

.header__inner > .header__inner-list .header__inner-wrapp > ul {
    position: relative;
    margin-right: auto;
    max-width: 234px;
    width: 100%;
    padding-right: 32px;
}

.header__inner > .header__inner-list .header__inner-wrapp > ul::after {
    position: absolute;
    content: '';
    height: 100%;
    top: 0;
    width: 2px;
    background-color: #c00d0d;
    right: 0;
}

.header__inner-list .header__inner-wrapp > ul >.header__item {
    border-bottom: 1px solid #C4C4C4;
}

.header__inner__two .header__link{
    width: 100%;
}

.header__inner__two .header__inner-list {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: -80%;
    max-width: 253px;
    top: 0;
    transition: all 0.5s ease;
}

.header__inner__two_active .header__inner-list {
    visibility: visible;
    opacity: 1;
    right: -100%;
}

.header__banner-menu {
    object-fit: cover;
    max-width: 805px;
    min-height: 256px;
    width: 75%;
    border-radius: 20px;
    transition: max-width 0.4s ease;
}

.header__banner-menu_active {
    max-width: 520px;
}

.header__inner_active > .header__inner-list {
    opacity: 1;
    overflow: hidden;
    height: 100%;
    visibility: visible;
}

.header__list > .header__item {
    margin-right: 10px;
}

.header__list > .header__item:last-child {
    margin-right: 0;
}

.header__link {
    position: relative;
    display: block;
    width: max-content;
    transition: all 0.4s ease;
}

.header__item:hover > .header__link {
    color: #C00D0D;
}

.header__item > .header__link::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 0;
    bottom: -5px;
    left: -5%;
    background-color: #C00D0D;
    transition: width 0.4s ease;
}

.header__inner .header__item > .header__link::after {
    content: none;
}

.header__item_active > .header__link {
    color: #C00D0D;
    font-weight: 700;
}

.header__item_active > .header__link::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 110%;
    bottom: -5px;
    left: -5%;
    background-color: #C00D0D;
}

.header__item:hover > .header__link::after {
    width: 110%;
}

.header__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 5px;
    transform: translateY(-50%);
}

.header__inner > .header__link {
    display: block;
    padding-right: 20px;
}

.header__inner-list .header__item{
    padding-top: 15px;
    padding-bottom: 15px;
}


.header__plus {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    display: block;
    width: 10px;
    height: 10px;
}

.header__plus::before,
.header__plus::after {
    content: none;
    position: absolute;
    top: 50%;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #C00D0D;
    transition: transform 0.4s ease;
}

.header__plus::after {
    transform: rotate(90deg);
}

.header__inner:hover > .header__link .header__plus::after {
    transform: rotate(90deg) scale(0);
}

.banner__wrapper {
    position: relative;
    box-sizing: border-box;
    max-height: 400px;
    max-width: 1180px;
    padding: 197px 20px 96px;
    text-align: center;
    background-image: url('../images/banner.png');
    background-position: 50% 53%;
    background-repeat: no-repeat;
    background-size: 176%;
    color: #ffffff;
    border-radius: 0 0 25px 25px;
}

.banner {
    margin-bottom: 54px;
}

.banner__wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(217, 217, 217, 0), #000000);
    border-radius: 0 0 25px 25px;
}

.banner__title {
    position: relative;
    margin-bottom: 23px;
    z-index: 1;
    font-weight: 700;
    font-size: 49px;
}

.banner__description {
    position: relative;
    z-index: 1;
    font-size: 25px;
}

.description__title {
    font-size: 27px;
    line-height: 36px;
}

.description__title__color {
    color: #C00D0D;
}

.description {
    position: relative;
    margin-bottom: 54px;
}

.description__wrapper {
    position: relative;
}

.description__wrapper::before {
    content: '';
    position: absolute;
    top: -111px;
    left: -170px;
    z-index: -1;
    width: 455px;
    height: 455px;
    background-image: url('../images/bg_poly1.png');
    background-repeat: no-repeat;
}

.slider {
    margin-bottom: 71px;
}

.slider__main {
    height: 292px;
    padding-bottom: 90px;
}

.slider__main .swiper-pagination-bullet-active {
    background-color: #C00D0D;
}

.slider__main .swiper-pagination {
    bottom: 19px;
}

.swiper-slide {
    display: flex;
    align-items: center;
}

.slider__wrapper {
    max-width: 1100px;
}

.slider__picture {
    width: 100%;
}

.slider__img {
    transform: scale(1);
    width: 100%;
    object-fit: cover;
    height: 140px;
    transition: transform 0.4s ease;
}

.slider__main-button {
    position: absolute;
    z-index: 11;
    bottom: 0;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.slider__main-prev {
    transform: rotate(180deg);
}

.slider__main-next {
    right: 0;
}

.slider__main .swiper-slide-active .slider__img{
    transform: scale(2.2);
}

.advantage {
    margin-bottom: 40px;
}

.advantage__title {
    margin-bottom: 43px;
    font-size: 27px;
    line-height: 20px;
    font-weight: 400;
}

.advantage__title_weight {
    font-weight: 700;
}

.advantage__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 685px;
}

.advantage__item {
    position: relative;
    box-sizing: border-box;
    width: 45%;
    margin-bottom: 20px;
    padding-left: 17px;
    font-size: 18px;
    line-height: 27px;
}

.advantage__item:nth-child(1),
.advantage__item:nth-child(3) {
    margin-right: auto;
}

.advantage__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    width: 6px;
    height: 6px;
    background-color: #C00D0D;
    border-radius: 50%;
}

.requirements {
    margin-bottom: 70px;
    padding-top: 59px;
    padding-bottom: 68px;
    background-color: #F2F2F2;
}

.requirements__wrapper {
    position: relative;
}

.requirements__wrapper::before {
    position: absolute;
    top: -200px;
    right: 30px;
    content: '';
    width: 348px;
    height: 348px;
    background-image: url('../images/bg_poly2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.requirements__title {
    margin-bottom: 72px;
    font-size: 36px;
    color: #C00D0D;
}

.requirements__list {
    display: flex;
    flex-wrap: wrap;
}

.requirements__item {
    position: relative;
    padding-top: 110px;
    max-width: 300px;
    margin-right: 70px;
    line-height: 27px;
    font-size: 18px;
    letter-spacing: -0.01em;
    margin-bottom: 90px;
}

.requirements__item:nth-child(1) {
    margin-right: 82px;
}

.requirements__item:nth-child(2) {
    margin-right: 82px;
}

.requirements__item:nth-child(3n) {
    margin-right: 0;
}

.requirements__item:nth-child(4) {
    margin-right: 85px;
    margin-bottom: 0;
}

.requirements__item:nth-child(5) {
    max-width: 350px;
    margin-bottom: 0;
}

.requirements__item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.requirements__item:nth-child(1):before {
    background-image: url('../images/requirements_1.svg');
}

.requirements__item:nth-child(2):before {
    background-image: url('../images/requirements_2.svg');
    left: -28px;
}

.requirements__item:nth-child(3):before {
    top: -11px;
    left: -4px;
    background-image: url('../images/requirements_3.svg');
}

.requirements__item:nth-child(4):before {
    background-image: url('../images/requirements_4.svg');
    top: -19px;
}

.requirements__item:nth-child(5):before {
    background-image: url('../images/requirements_5.svg');
    top: -19px;
    left: -12px;
}

.exhibition__select {
    margin-bottom: 40px;
}

.exhibition {
    margin-bottom: 71px;
}

.select {
    position: relative;
    max-width: 568px;
    font-size: 18px;
}

.select__header {
    display: flex;
    border: 1px solid #E0E0E0;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
}

.select__enter {
    padding: 24px;
    line-height: 23px;
}

.select__icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    height: 40px;
    margin-left: auto;
    text-align: center;
    width: 40px;
}

.select__body {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
    display: none;
    border: 1px solid #E0E0E0;
    border-top: 0;
}

.select_active .select__body {
    display: block;
}

.select__item {
    line-height: 23px;
    font-size: 16px;
    cursor: pointer;
    padding: 25px;
    background-color: #ffffff;
}

.select__item:hover {
    background-color: #f2f2f2;
}

.exhibition__title {
    font-size: 36px;
    margin-bottom: 60px;
}

.exhibition__table {
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    font-size: 20px;
    width: 100%;
}

.exhibition__table__header {
    font-size: 22px;
    font-weight: 700;
    color: #C00D0D;
    padding-top: 20px;
    padding-bottom: 20px;
}

.exhibition__table td {
    padding-top: 30px;
    padding-bottom: 37px;
}

.exhibition__table tr {
    position: relative;
}

.exhibition__table tr td:first-child {
    font-weight: 700;
}

.exhibition__table tr:first-child td  {
    padding-left: 20px;
}

.exhibition__table tr::after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: #E0E0E0;
}

.exhibition__table tr:last-child:after {
    content: none;
}

.exhibition__table tr:not(:first-child) td {
    padding-left: 20px;
    padding-right: 20px;
}

.exhibition__table tr td:nth-child(4),
.exhibition__table tr td:nth-child(5) {
    max-width: 140px;
}

.exhibition__table tr td:nth-child(1) {
    max-width: 100px;
}

.exhibition__table tr td:nth-child(3) {
    max-width: 100px;
}

.exhibition__content {
    position: relative;
    padding-bottom: 70px;
    padding-bottom: 92px;
}

.exhibition__content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-image: url('../images/vector_5.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.exhibition__list {
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
}

.exhibition__list:last-child {
    margin-bottom: 0;
}

.exhibition__element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.exhibition__element:last-child {
    margin-bottom: 0;
}

.exhibition__element span:first-child {
    color: #C00D0D;
    font-size: 18px;
    font-weight: 700;
}

.select__arrow {
    width: 12px;
}

.request__item {
    display: block;
}

.request__item input {
    visibility: hidden;
    opacity: 0;
}

.request__title {
    font-size: 36px;
    color: #C00D0D;
    margin-bottom: 25px;
    padding-left: 13px;
}

.request__description {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
    padding-left: 13px;
}

.request__form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.request__form-input {
    position: relative;
    box-sizing: border-box;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid #E0E0E0;
}

.request__form-input input {
    border: none;
    outline: none;
}

.request__form-input,
.request__select {
    max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
}

.request__enter {
    padding: 20px;
}

.request__form-submit {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    background-color: #C00D0D;
}

.request__info,
.request__info-mob {
    color: #828282;
    font-size: 14px;
    margin-right: auto;
}

.request__form {
    display: flex;
    flex-wrap: wrap;
    padding-left: 13px;
}

.request {
    margin-bottom: 81px;
}

.checkbox__custom {
    opacity: 0;
    visibility: hidden;
}

.checkbox-check {
    cursor: pointer;
    padding-left: 35px;
    position: relative;
}

.request__policy-check {
    width: 66%;
    font-size: 14px;
    padding-right: 70px;
    box-sizing: border-box;
}

.request__policy-check a {
    border-bottom: 1px solid #828282;
}

.checkbox-check::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    cursor: pointer;
}

.checkbox__custom:checked ~ .checkbox-check::after{
    position: absolute;
    content: '';
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #C00D0D;
}

.courses__title {
    margin-bottom: 48px;
    font-size: 36px;
}

.courses__wrapper {
    max-width: 1180px;
}

.courses__item-block {
    font-size: 18px;
    color: #878787;
    margin-bottom: 16px;
    font-weight: 700;
}

.courses__item-title {
    font-size: 30px;
    margin-bottom: 12px;
}

.courses__item-description {
    font-size: 20px;
}

.courses__item-img {
    width: 380px;
    height: 296px;
    object-fit: cover;
    object-position: top;
}

.courses__item {
    display: flex;
    align-items: center;
    margin-bottom: 66px;
}

.courses__item-wrapp {
    max-width: 330px;
    display: flex;
    height: max-content;
    margin-right: auto;
    flex-direction: column;
}

.courses__item-pict {
    margin-right: 56px;
}

.courses__item-info {
    display: flex;
    max-width: 326px;
    width: 100%;
    justify-content: space-between;
}

.courses__item-icon {
    margin-bottom: 15px;
}

.courses__item-moduls {
    font-size: 16px;
}

.courses__item-moduls span {
    font-size: 18px;
    font-weight: 700;
    display: block;
}

.courses {
    margin-bottom: 117px;
}

.footer {
    padding-top: 64px;
    padding-bottom: 46px;
    border-radius: 20px 20px 0 0;
    background-color: #F2F2F2;
}

.footer__soc svg {
    width: 40px;
    height: 40px;
}

.footer__soc {
    position: absolute;
    bottom: 70px;
    left: 30px;
}

.footer__line {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.footer__logo-link {
    max-width: 220px;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 32px;
}

.footer__logo-line__weight {
    font-size: 30px;
    line-height: 38px;
}

.footer__img-emblem {
    width: 310px;
    height: 68px;
}

.footer__description {
    display: flex;
    flex-wrap: wrap;
    max-width: 542px;
    width: 100%;
    margin-bottom: 12px;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.footer__content:first-child {
    margin-right: 164px;
}

.footer__content:nth-child(2) .footer__content-links {
    margin-bottom: 30px;
}

.footer__content-title {
    font-size: 18px;
    margin-bottom: 30px;
}

.footer__copyright {
    font-size: 14px;
    line-height: 18px;
    color: #C4C4C4;
    max-width: 440px;
}

.footer__content-item {
    margin-bottom: 5px;
}

.footer__content-item:last-child {
    margin-bottom: 0;
}

.mob-menu {
    display: none;
    width: 20px;
    height: 15px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.mob-menu span {
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
}

.mob-menu span:nth-child(1) {
    top: 0;
    transition: transform 0.4s ease;
}

.mob-menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    transition: width 0.3s ease;
}

.mob-menu span:nth-child(3) {
    bottom: 0;
    transition: transform 0.4s ease;
}

.mob-menu_active span:nth-child(2){
    width: 0;
}

.mob-menu_active span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
}

.mob-menu_active span:nth-child(3){
    transform: rotate(-45deg);
    top: 50%;
}

.header__mob-contacts {
    display: none;
}

.header__prev-button {
    display: none;
}

.request__info-mob {
    display: none;
}

@media screen and (max-width: 1330px) {
    .header__banner-menu_active {
        max-width: 370px;
    }
}

@media screen and (max-width: 1180px) {
    .header__banner-menu_active {
        max-width: 370px;
    }

    .header {
        background-color: transparent;
        border-bottom: none;
    }

    .banner {
        margin-top: -20px;
    }

    .mob-menu {
        display: block;
    }

    .header__banner-menu {
        display: none;
    }

    .header__line {
        position: relative;
        z-index: 1;
    }

    .header__wrapper {
        padding-top: 50px;
        position: absolute;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1180px;
        height: 100vh;
        top: -100%;
        transform: translateY(-100%);
        transition: all 0.4s ease;
        background-color: #ffffff;
        z-index: 0;
    }

    .header__wrapper_active {
        top: 0;
        transform: translateY(0);
        overflow: hidden;
    }

    .header__list {
        flex-direction: column;
        padding-top: 17px;
        max-width: 400px;
    }

    .header__list > .header__item {
        margin-right: 0;
        padding-bottom: 17px;
        margin-bottom: 14px;
        border-bottom: 1px solid #C4C4C4;
    }

    .header__list>.header__item:last-child {
        border-bottom: none;
    }

    .header__item_active>.header__link::after {
        content: none;
    }

    .header__item>.header__link::after {
        content: none;
    }

    .header__mob-contacts {
        display: block;
        position: absolute;
        padding-left: 30px;
        padding-right: 30px;
        left: 0;
        width: 100%;
        max-width: 400px;
    }

    .header__mob-soc svg{
        width: 20px;
        height: 20px;
    }

    .header__mob-phone {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 16px;
        display: block;
    }

    .header__mob-mail {
        font-size: 12px;
    }

    .header__mob-address {
        font-size: 12px;
    }

    .header__mob-contacts::before {
        content: '';
        position: absolute;
        left: 0;
        top: -20px;
        height: 1px;
        width: 100%;
        background-color: #000000;
    }

    .header__arrow {
        transform: translateY(-50%) rotate(-90deg);
    }

    .header__inner>.header__link {
        width: 100%;
        padding-right: 0;
    }

    .header__mob-soc {
        top: 0;
        right: 30px;
        position: absolute;
    }

    .header__inner>.header__inner-list {
        position: absolute;
        top: 50px;
        left: -100%;
        padding: 30px 30px;
    }

    .header__inner_active > .header__inner-list {
        z-index: 2;
        top: 50px;
        left: 0;
    }

    .header__inner > .header__inner-list .header__inner-wrapp > ul {
        margin-right: 0;
    }

    .header__inner > .header__inner-list .header__inner-wrapp > ul::after {
        content: none;
    }

    .header__plus .header__arrow {
        display: none;
    }

    .header__plus::before,
    .header__plus::after {
        content: '';
    }

    .header__prev-button {
        position: relative;
        cursor: pointer;
        display: block;
    }

    .header__prev-button .header__arrow {
        transform: translateY(-50%) rotate(90deg);
        left: -15px;
    }

    .header__inner>.header__inner-list .header__inner-wrapp {
        flex-direction: column;
    }

    .header__inner__two .header__inner-list {
        position: relative;
        right: 0;
        height: 0;
    }

    .header__inner__two_active .header__inner-list {
        height: 100%;
    }

    .header__inner__two .header__item::before {
        content: '\2014';
        position: absolute;
        left: 0;
    }

    .header__inner__two .header__item {
        padding-left: 20px;
    }

    .requirements__item {
        max-width: none;
        width: 40%;
        margin-right: 0;
    }

    .requirements__item:nth-child(1), .requirements__item:nth-child(3) {
        margin-right: auto;
    }

    .request__select {
        max-width: 100%;
    }

    .request__form-input {
        max-width: 100%;
        width: 48%;
    }

    .request__info-mob {
        display: block;
        margin-right: 50%;
        margin-bottom: 15px;
    }

    .request__info {
        display: none;
    }

    .courses__list {
        display: flex;
        flex-wrap: wrap;
    }

    .courses__item {
        max-width: 320px;
        width: 100%;
        flex-direction: column;
        align-items: start;
    }

    .courses__item-pict {
        margin-right: 0;
    }

    .courses__item-pict {
        margin-bottom: 26px;
    }

    .courses__item-description {
        margin-bottom: 16px;
    }

    .courses__item-wrapp {
        max-width: 380; 
    }

    .courses__item:nth-child(1) {
        margin-right: auto;
    }

    .courses__item-img {
        max-width: 320px;
        height: 225px;
    }

    .footer__content:first-child {
        margin-right: 115px;
    }

    .footer__description {
        max-width: 459px;
    }
}

@media screen and (max-width: 900px) {
    .banner__wrapper {
        text-align: left;
        padding-left: 35px;
        padding-bottom: 35px;
        padding-top: 270px;
        background-size: cover;
    }

    .banner__title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .banner__description {
        font-size: 14px;
    }

    .description__title {
        font-size: 18px;
    }

    .slider__main .swiper-slide-active .slider__img {
        transform: scale(1);
        min-height: 313px;
        object-position: top;
    }

    .slider__main {
        height: 313px;
    }

    .advantage__title {
        font-size: 18px;
    }

    .advantage__item {
        font-size: 14px;
    }

    .requirements__title {
        font-size: 24px;
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .footer__line {
        width: 100%;
        flex-direction: row;
    }

    .footer__logo-link {
        margin-right: auto;
    }

    .footer__content:first-child {
        margin-right: auto;
    }

    .footer__description {
        max-width: 100%;
    }

    .requirements__item, .requirements__item:nth-child(1) {
       margin-right: auto;
       max-width: none;
    }

    .requirements__item:nth-child(2),
    .requirements__item:nth-child(4) {
        margin-right: 0;
    }

    .requirements__item:nth-child(5) {
        max-width: 310px;
    }

    .requirements__item {
        font-size: 14px;
    }

    .request__policy-check {
        width: 100%;
        font-size: 12px;
    }

    .exhibition__title {
        font-size: 30px;
    }

    .select {
        font-size: 16px;
    }

    .select__item .select {
        font-size: 14px;
    }

    .request__title {
        font-size: 30px;
    }

    .request__description {
        font-size: 16px;
    }

    .request__form-input {
        font-size: 18px;
        width: 50%;
    }

    .courses__item-img {
        max-width: 270px;
        height: 174px;
    }

    .courses__title {
        font-size: 30px;
    }

    .courses__item-block {
        font-size: 14px;
    }

    .courses__item-title {
        font-size: 18px;
    }

    .courses__item-description {
        font-size: 14px;
    }

    .courses__item-moduls {
        font-size: 14px;
    }

    .courses__item-moduls span {
        font-size: 16px;
    }

    .courses__item-moduls:first-child svg {
        width: 40px;
        height: 30px;
    }

    .courses__item-moduls:nth-last-child(2) svg {
        width: 30px;
        height: 30px;
    }

    .courses__item-moduls:nth-last-child(3) svg {
        width: 31px;
        height: 31px;
    }

    .courses__item {
        max-width: 270px;
    }
}

@media screen and (max-width: 620px) {
    .banner__wrapper {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 125px;
    }

    .footer__img-emblem {
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    .footer__logo-link {
        font-size: 13px;
        line-height: 0px;
    }

    .footer__logo-line__weight {
        font-size: 19px;
        line-height: 23px;
    }

    .request__title {
        font-size: 24px;
    }

    .request__description {
        font-size: 12px;
    }

    .request__form-wrapper {
        display: flex;
        flex-direction: column;
    }

    .request__form-input {
        width: 100%;
    }

    .request__form-input input {
        font-size: 14px;
    }

    .select {
        font-size: 14px;
    }

    .select__item {
        font-size: 12px;
    }

    .wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }

    .description__title {
        font-size: 14px;
        line-height: 18px;
    }

    .banner {
        margin-bottom: 25px;
    }

    .banner__title {
        font-size: 18px;
    }

    .slider__wrapper {
        padding-right: 0;
        padding-left: 0;
    }

    .header__line {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__mob-address, .header__mob-mail {
        max-width: 205px;
    }

    .advantage__item {
        width: 100%;
    }

    .requirements__title {
        font-size: 18px;
    }

    .requirements__item {
        width: 100%;
        margin-right: 0;
        padding-top: 0;
        padding-left: 70px;
        min-height: 68px;
        line-height: 14px;
        margin-bottom: 32px;
    }

    .requirements__item:nth-child(4) {
        margin-bottom: 32px;
    }

    .requirements__item::before {
        width: 68px;
        height: 68px;
        left: 0;
    }

    .requirements__item:nth-child(4):before {
        top: 0;
    }

    .requirements__item:nth-child(2):before {
        left: 0;
        top: -10px;
    }

    .requirements__item:nth-child(5):before {
        top: 0;
        left: 0;
    }

    .exhibition__element {
        font-size: 16px;
    }

    .request__policy-check {
        padding-right: 0;
    }

    .courses__title {
        font-size: 24px;
    }

    .footer__soc {
        left: 20px;
        bottom: 50px;
    }

    .header__mob-contacts {
        position: relative;
        left: -18px;
        width: 92%;
    }
}